body{
  background: #111;
}

.square{
  width: 12rem;
  height: 12rem;
  background: cyan;
  transition: all .2s ease-in;
  transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.square:hover{
  transform: rotate(15deg);
}